<p><%= link_to (fa_icon "arrow-left"), feeds_path, class: 'btn btn-primary' %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add New RSS Subscription</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', feed: @feed %>
  </div>
</div>
