<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= item.name %></h3>
  </div>
  <div class="panel-body">
    <% item.items.sort_by {| obj | obj.ep_id }.each do | ep | %>
    <%= link_to "EP ##{ep.ep_id}", bangumi_play_path(ep.id), class: 'btn btn-primary' %>&nbsp;
    <% end %>
  </div>
</div>
