<div class="row">
  <% @bgms.sort_by {| obj | obj.last_updated }.reverse.each do | bgm | %>
    <div class="col-md-4 co-xl-3 col-xs-12">
      <%= render partial: 'card', locals: {item: bgm} %>
    </div>
  <% end %>
</div>
