<div class="row">
  <% bgms = @bgms.sort_by {| obj | obj.last_updated }.reverse %>
  <% bgms.each_with_index do | bgm, idx | %>
  <% if  idx == 0 || (idx != 0 && bgms[idx - 1].last_updated.to_date != bgm.last_updated.to_date) %>
</div>
<div class="row">
  <h2><%= bgm.last_updated.to_date %></h2>
  <% end %>
    <div class="col-md-4 col-xl-3 col-xs-12">
      <%= render partial: 'card', locals: {item: bgm} %>
    </div>
  <% end %>
</div>
